@import "./mixins";

.about-content__wrapper {
  @include flexJustAlign(center, normal);
  position: relative;
  border-top: 2px solid white;
  font-size: 20px;
}

.section--about,
.about-content__wrapper {
  background-color: $clr-bg--primary;
}

.section--about,
.about-content__image {
  width: 100%;
}

.about-content__image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85)),
    url("../images/about_image.jpg");
  background-size: cover;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    95% 100%,
    100% 83%,
    80% 71%,
    92% 53%,
    78% 30%,
    80% 31%,
    95% 15%,
    85% 0%
  );
}

.section--about {
  @include flexJustAlign(space-evenly, center);
  flex-direction: column;
  gap: 2em;
  position: relative;
  padding: 2em 3em;

  h2 {
    font-size: clamp(1.5em, 4vw, 4.25em);
    font-weight: 300;
    text-align: center;
  }
}

.about-cards__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.about-card {
  @include flexJustAlign(normal, center);
  flex-direction: column;
  text-align: center;
  padding: 1.5em 1em;
  gap: 1em;
  border: 1px solid $clr-text--secondary;
  border-radius: 5px;
  box-shadow: 0 3px 6px 1px black;
  transition: 250ms ease-in-out;

  span {
    font-size: clamp(2.5em, 6vw, 3em);
  }

  p {
    font-size: clamp(0.75em, 1.25vw, 3em);
  }
}

.about-card:hover {
  transform: translateY(-5px);
}

.our-mission__container {
  @include flexJustAlign(space-between, center);
  flex-direction: column;
  text-align: center;

  p {
    font-size: clamp(0.75em, 1.75vw, 1em);
  }
}

.mission-heading__container {
  margin: 1em 0 0.75em 0;

  h3 {
    @include flexJustAlign(normal, center);
    font-weight: 400;
    font-size: clamp(1.125em, 3vw, 3em);
  }

  span {
    font-size: 1.125em;
    font-weight: 600;
  }
}

// MediaQueries

@media (max-width: 1200px) {
  .about-cards__wrapper {
    grid-template-columns: minmax(250px, 500px);
  }
}

// Animations

.section--about.animate {
  animation: 1.5s animate_about;
}
