@import "./mixins", "./animations";

header {
  @include flexJustAlign(space-between, center);
  width: 100%;
  padding: 0.75em 1.5em;
  border-bottom: 1px solid white;
}

.logo__container {
  @include flexJustAlign(normal, center);
  gap: 2em;
  animation: 1s animate_link;
}

@media (max-width: 1285px) {
  header {
    flex-direction: column;
  }

  .logo__container {
    margin-bottom: 0.5em;
  }
}

.logo__name,
.logo {
  font-size: clamp(1em, 9vw, 3.5em);
  background-image: linear-gradient(150deg, $clr--accent, rgb(94, 161, 32));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links {
  @include flexJustAlign(normal, center);

  li:first-child {
    animation: 2s animate_link;
  }

  li:nth-child(2) {
    animation: 2.5s animate_link;
  }

  li:nth-child(3) {
    animation: 3s animate_link;
  }

  li:nth-child(4) {
    animation: 3.5s animate_link;
  }

  li {
    position: relative;
    font-size: clamp(0.5em, 3.5vw, 1.125em);
    font-weight: 600;
    margin: 0 2em;
    padding: 0.25em 0;
  }

  li:hover {
    cursor: pointer;
    color: white;
  }

  li:not(.login__link)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: $clr--accent;
    transition: 250ms;
  }

  li:not(.login__link):hover::after {
    width: 100%;
  }

  .login__link {
    padding: 0.5em 1em;
    border: 5px solid $clr--accent;
    border-radius: 200px;
    transition: 250ms;
  }

  .login__link:hover {
    background-color: $clr--accent;
  }
}
