@import "./mixins";

.section--form {
  display: grid;
  place-items: center;
  font-size: 20px;
}

.account__form {
  @include flexJustAlign(space-around, center);
  flex-direction: column;
  position: relative;
  gap: 2em;
  padding: 2em 3em;
  margin: 1em;
  border: 2px solid $clr-border--grey;
  box-shadow: 0 2px 15px 2px $clr--accent;

  h1,
  input[type="submit"] {
    align-self: center;
  }

  h1 {
    font-size: clamp(1.75em, 4vw, 2.5em);
  }

  .register--success {
    background-color: $clr--accent;
    color: $clr-text--primary;
    padding: 1em 2em;
    border: 2px solid rgb(10, 10, 10);
    border-radius: 15px;
  }

  .register--fail {
    @extend .register--success;
    background: firebrick;
  }

  .form__inputs {
    @include flexJustAlign(center, center);
    flex-direction: column;
    gap: 1em;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-size: clamp(0.75em, 3vw, 1.25em);
    background-color: inherit;
    padding: 0.5em;
    margin: 0.25em 0;
    border: none;
    border-bottom: 2px solid $clr--accent;
  }

  input:hover,
  input:focus {
    outline: none;
  }

  p {
    font-size: clamp(0.75em, 3vw, 1em);
    cursor: pointer;
    transition: 150ms ease-in-out;
  }

  p:hover {
    color: white;
  }
}

.home__button {
  @include flexJustAlign(center, flex-end);
  position: absolute;
  top: 5px;
  left: 5px;
  border: none;
  padding: 0.5em;
  background-color: transparent;
  cursor: pointer;

  span {
    font-size: clamp(2.5em, 4vw, 3.25em);
  }
}

.home__button:hover {
  color: white;
}

.home__button:active {
  transform: scale(0.97);
}

.forgot-password__link,
.account-exist__form {
  align-self: flex-start;
}

.register__button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.requirements {
  background-color: rgb(10, 10, 10);
  color: $clr-text--primary;
  border-radius: 10px;
  padding: 0.5em;
  text-align: center;
}

.icon--info {
  padding: 0 0.25em;
}

// MediaQueries

@media (max-width: 600px) {
  .account__form {
    padding: 2em 1em;
  }
}
