@import "./variables", "./header", "./mixins";

.section--main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../images/main_image.jpg");
  background-size: cover;
  @include flexJustAlign(space-between, normal);
  flex-direction: column;
  font-size: 20px;
  overflow: hidden;
}

.main-content__wrapper {
  max-width: 650px;
  margin: 0 0 0 7em;

  p {
    font-size: clamp(0.5em, 3.5vw, 1.125em);
    font-weight: 600;
    line-height: 1.75em;
    transition: 1s;
  }
}

@media (max-width: 775px) {
  .main-content__wrapper {
    margin: 0 15vw;
  }
}

.quote__main {
  font-size: clamp(1.75em, 10vw, 3em);
  margin-bottom: 0.25em;
  transition: 1s;
}

.scroll-button__link {
  align-self: center;
}
