$clr-text--primary: rgb(220, 220, 220);
$clr-text--secondary: rgb(30, 30, 30);
$clr--accent: rgb(154, 205, 50);

$clr-bg--primary: rgb(140, 190, 38);
$clr-bg--secondary: rgb(154, 205, 50);
$clr-bg--dark: rgb(30, 30, 30);
$clr-bg--light: rgb(220, 220, 220);

$clr-border--dark: rgb(30, 30, 30);
$clr-border--grey: rgb(100, 100, 100);
$clr-border--light: rgb(170, 170, 170);

$font--bold: 600;
$font--slim: 300;
